<!DOCTYPE html>
<html>
<head>
    <title>{{pageTitle}}</title>
</head>
<body>
    {{> navbar}}
    <h1>{{pageTitle}}</h1>
    {{{body}}} <!-- Aca va a ir el contenido específico de cada página-->
</body>
</html>
